@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(10DEG, #EFEEF1, #E3E4ED);
}

.container {
  width: 100%;
  height: 100vh;
  
}

.loginWrapper {
  display: flex;
  justify-content: center;
}

