@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);

}

.container {
  width: 100%;
  height: 100vh;
  
}

.loginWrapper {
  display: flex;
  justify-content: center;
}

