
.createRoomWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    height: 100vh;
    width: 100%;

}

.formWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15%;
}

.section1 {
    display: block;
    width: 100%;
}

.searchButton2 {
    margin-top: 15px;
    width: 90%;
    height: 40px;
    background-color: #49c830;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
    box-shadow: 1.8px 1.8px 2.2px rgb(0 0 0 / 5%), 4.3px 4.4px 5.3px rgb(0 0 0 / 7%), 8px 8.3px 10px rgb(0 0 0 / 7%), 14.3px 14.7px 17.9px rgb(0 0 0 / 8%), 26.7px 27.6px 33.4px rgb(0 0 0 / 7%), 64px 66px 80px rgb(0 0 0 / 7%);
    cursor: pointer;
    transition: 0.3s;
}

.searchButton2:hover {
    filter: brightness(90%);
}

.notFriend {
    color: red;
}

.friendList2 {
    padding: 30px;
    color: white;
}