
.chatsContainer {
    height: 100vh;
    width: 100%;
    position: relative;
    

}

.mainWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px; 

}


.chats {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.chatList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0px;
    width: 100%;

}

.convosWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  justify-content: center;
  align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: scroll;
    width: 100%;
    padding: 15px;
    margin-top: 0px;
    height: 60vh;
    overflow-x: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    display: flex;
    height: 10%;
    box-shadow: 0px -2px 30px -5px rgba(0,0,0,0.45);
    background-color: #FFFFFF;
    font-size: 14px;
}

.tab {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center ;

}


.tab h3{
    cursor: pointer;
}

.tab h3::after {
    content: "";
    position: absolute;
    background-color: lightgreen;
    width: 0%;
    height: 4px;
    border-radius: 5px;
    left: 0;
    bottom: 0px;
    transition: 0.4s
    
}

.tab h3:hover:after {
    
    width: 100%;
    
}


.linkContainer {
    position: relative;
}

.link {
    color: black;
    text-decoration: none;
}

.searchBar {
  width: 100%;
  display: flex;
  gap: 15px;
}

.searchInput {
  width: 90%;
  height: 35px;
  background-color: #F9FAFD;
  border-radius: 5px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0px 10px;
  box-shadow: 1.8px 1.8px 2.2px rgb(0 0 0 / 5%), 4.3px 4.4px 5.3px rgb(0 0 0 / 7%), 8px 8.3px 10px rgb(0 0 0 / 7%), 14.3px 14.7px 17.9px rgb(0 0 0 / 8%), 26.7px 27.6px 33.4px rgb(0 0 0 / 7%), 64px 66px 80px rgb(0 0 0 / 7%);

}

.searchSubmit {
  height: 35px;
  width: 20%;
  background-color: #49c830;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 1.8px 1.8px 2.2px rgb(0 0 0 / 5%), 4.3px 4.4px 5.3px rgb(0 0 0 / 7%), 8px 8.3px 10px rgb(0 0 0 / 7%), 14.3px 14.7px 17.9px rgb(0 0 0 / 8%), 26.7px 27.6px 33.4px rgb(0 0 0 / 7%), 64px 66px 80px rgb(0 0 0 / 7%);
}

.searchSubmit:hover {
  filter: brightness(90%);
}

#tab3 {
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 0px 10px 0px 0px;
}

@media screen and (min-width: 600px) {

  .list {
    width: 80%;
  }

  .searchBar {
    width: 80%;
  }
  }
  @media screen and (min-width: 800px) {
    .list {
      width: 70%;
    }
    .searchBar {
      width: 80%;
    }
  }
    
  @media screen and (min-width: 1000px) {
    .list {
      width: 60%;
    }
    .searchBar {
      width: 60%;
    }
  }
  @media screen and (min-width: 1000px) {

    .list {
      width: 50%;
    }
    .searchBar {
      width: 50%;
    }
  }
  @media screen and (min-width: 1000px) {
    .list {
      width: 40%;
    }
    .searchBar {
      width: 40%;
    }
  }

