.profileContainer {
    width: 100%;
    position: relative;
    height: 100vh;
    
}

.userInfo {
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.profileWrapper {
    padding: 30px;
}

.friendList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editButton {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
    color: white;
    background-color: #49c830;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;

}

.editButton:hover {
    filter: brightness(90%);
}

.logout {
    width: 30%;
    margin: 15px 0px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    transition: 0.3s;
    border-radius: 5px; 
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

}

.logout:hover {
    cursor: pointer;
    filter: brightness(90%);
}