.profileContainer {
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
        
}

.userInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.boxWrapper {
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 100%;
    align-self: center;
}

.profileWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}

.friendList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editButton {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
    color: white;
    background-color: #49c830;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    align-self: center;


}

.editButton:hover {
    filter: brightness(90%);
}

.logout {
    width: 30%;
    margin: 15px 0px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    transition: 0.3s;
    border-radius: 5px; 
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

}

.searchInput {
  margin-top: 20px;
  margin-bottom: 15px;

}

.logout:hover {
    cursor: pointer;
    filter: brightness(90%);
}

@media screen and (min-width: 600px) {
    .userInfo {
      width: 80%;
    }
    }
    @media screen and (min-width: 800px) {
      .userInfo {
        width: 70%;
      }
    }
    @media screen and (min-width: 1000px) {
      .userInfo {
        width: 60%;
      }
    }
    @media screen and (min-width: 1000px) {
      .userInfo {
        width: 50%;
      }
    }
    @media screen and (min-width: 1000px) {
      .userInfo {
        width: 40%;
      }
    }
  
    @media screen and (min-width: 1200px) {
      .userInfo {
        width: 30%;
      }
    }
  
  